@import "../../index.css";

.CardAbout {

    & .CardAboutIco {
        padding: 1.5rem;
        margin: 0 auto;
        width: fit-content;
        display: flex;
        background-color: var(--primaryColor);
        color: var(--dark);
        border-radius: 50%;
        font-size: 2rem;
        box-shadow: rgb(167, 167, 167) 0px 6px 24px 0px, rgb(255, 255, 255) 0px 0px 0px 1px;
    }
}