@import "../../index.css";

.CardAbout {
    background-color: red;

    & .CardAboutIco {
        padding: 1.5rem;
        margin: 0 auto;
        width: fit-content;
        display: flex;
        background-color: var(--primaryColor);
        color: var(--dark);
        border-radius: 50%;
        font-size: 2rem;
        box-shadow: rgba(255, 255, 255, 0.05) 0px 6px 24px 0px, rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
    }
}