@import "../../index.css";

.CardAbout {
    padding: 2rem;
    background-color: #272727;
    border-radius: .4rem;

    & .CardAboutIco {
        padding: 1.5rem;
        margin: 0 auto;
        width: fit-content;
        display: flex;
        background-color: var(--primaryColor);
        color: var(--dark);
        border-radius: 50%;
        font-size: 2rem;
        box-shadow: rgb(238, 255, 0) 0px 3px 12px 0px, rgb(255, 230, 0) 0px 0px 0px 1px;
    }
}