@import "../../index.css";

.CardAbout {
    & .CardAboutIco {
        background-color: red;
        padding: 1.5rem;
        margin: 0 auto;
        width: fit-content;
        display: flex;
        background-color: var(--primaryColor);
        color: var(--dark);
        border-radius: 50%;
        font-size: 2rem;
    }
}