@import "../../index.css";

.CardAbout {
    & .CardAboutIco {
        padding: 1.5rem;
        margin: 0 auto;
        width: fit-content;
        display: flex;
        background-color: 161a1d;
        border-radius: 50%;
        font-size: 2rem;
    }
}