:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primaryColor: #ffff00;
  --backgroundColor: #08090C;
  --darkColor: #ffff00;
  --darkColor: #ffff00;

}


@font-face {
  font-family: 'Industry';
  src: url('./assets/font/IndustryTest-Black.otf') format('oft'),
    url('./assets/font/IndustryTest-Bold.otf'),
    url('./assets/font/IndustryTest-Book.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Industry', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--backgroundColor);
  color: #fff;
}