@import "../../index.css";

.homeContainer {
    & .homeContent {
        display: grid;
        place-items: center;

        & .homeCaption {
            & .homeTitle {
                display: flex;
                flex-direction: column;
                font-size: clamp(1rem, 5vw, 3.5vw);
            }
        }
    }
}


.contactContainer {

    min-height: 80svh;
    background-image: url('../../assets/img/contact-banner-mobile.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    & .contactCaption {
        padding: 4rem;
        display: grid;
        place-items: center;
        gap: 2rem;

        & img {
            width: 100px;
        }

        & .contactTitle {
            font-size: 3rem;
            text-align: center;
        }
    }
}


.newsContainer {
    padding: 1rem;

    & .newsContent {
        padding: 4rem;
        display: flex;
        flex-direction: column;
        gap: 8px;

        & .newsCard {
            position: relative;
            display: flex;
            flex-direction: column;
            border-radius: .6rem;
            box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px, rgba(44, 44, 44, 0.651) 0px 2px 16px 0px;

            & .newsImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            & .newsCaption {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: absolute;
                padding: 1rem;
                bottom: 0;
                background: #22C1C3;
                background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.8) 30%, transparent 70%);
                width: 100%;
                height: 100%;

                & .newsText {
                    max-width: 500px;
                }
            }
        }

        .newsCard:nth-of-type(1) {
            grid-row: span 2 / span 2;

            & .newsImg {
                height: 400px;
                height: 100%;
            }
        }

        .newsCard:nth-of-type(2) {
            grid-column-start: 2;

            & .newsImg {
                height: 400px;
                height: 100%;
                aspect-ratio: 16/9;
            }
        }

    }
}



.button {
    background-color: var(--primaryColor);
    color: var(--dark);
}

/* Desktop and up */
@media (min-width: 1024px) {
    .homeContainer {
        display: grid;
        min-height: 100svh;
        background-image: url('../../assets/img/banner.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .contactContainer {
        min-height: 80svh;
        background-image: url('../../assets/img/contact-banner.png');
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;

        & .contactCaption {
            display: grid;
            place-items: center;
            gap: 2rem;

            & img {
                width: 100px;
            }

            & .contactTitle {
                font-size: 3rem;
                text-align: center;
            }
        }
    }

    .newsContainer {
        padding: 1rem;

        & .newsContent {
            padding: 4rem;
            display: grid;
            grid-template-columns: 6fr 12fr;
            grid-template-rows: repeat(2, 1fr);
            gap: 8px;

            & .newsCard {
                position: relative;
                display: flex;
                flex-direction: column;
                border-radius: .6rem;
                box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px, rgba(44, 44, 44, 0.651) 0px 2px 16px 0px;

                & .newsImg {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                & .newsCaption {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    position: absolute;
                    padding: 1rem;
                    bottom: 0;
                    background: #22C1C3;
                    background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.8) 30%, transparent 70%);
                    width: 100%;
                    height: 100%;

                    & .newsText {
                        max-width: 500px;
                    }
                }
            }

            .newsCard:nth-of-type(1) {
                grid-row: span 2 / span 2;

                & .newsImg {
                    height: 400px;
                    height: 100%;
                }
            }

            .newsCard:nth-of-type(2) {
                grid-column-start: 2;
            }

        }
    }
}