@import "../../index.css";

.homeContainer {
    & .homeContent {
        display: grid;
        place-items: center;

        & .homeCaption {
            & .homeTitle {
                display: flex;
                flex-direction: column;
                font-size: clamp(1rem, 5vw, 3.5vw);
            }
        }
    }
}


.contactContainer {
    min-height: 100svh;
    background-image: url('../../assets/img/contact-banner.png');
    background-size: cover;
    background-repeat: no-repeat;

    & .contactCaption {
        & .contactTitle {
            font-size: 3rem;
        }
    }
}



/* Desktop and up */
@media (min-width: 1024px) {
    .homeContainer {
        display: grid;
        min-height: 100svh;
        background-image: url('../../assets/img/banner.png');
        background-size: cover;
        background-repeat: no-repeat;

    }
}