@import "../../index.css";

.homeContainer {
    & .homeContent {
        display: grid;
        place-items: center;

        & .homeCaption {
            & .homeTitle {
                display: flex;
                flex-direction: column;
                font-size: clamp(1rem, 5vw, 3.5vw);
            }
        }
    }
}


.contactContainer {

    min-height: 80svh;
    background-image: url('../../assets/img/contact-banner-mobile.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    & .contactCaption {
        padding: 4rem;
        display: grid;
        place-items: center;
        gap: 2rem;

        & img {
            width: 100px;
        }

        & .contactTitle {
            font-size: 3rem;
            text-align: center;
        }
    }
}

.newsContent {
    display: grid;
    grid-template-columns: 6fr 12fr;
    grid-auto-rows: 800px;
    gap: 1rem;
    padding: 1rem;
    background-color: #292729;
}

.ccc {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    background-color: rgb(0, 46, 65);

    & .newsCaption {
        display: grid;
        gap: 1rem;
        padding: 1rem;
    }
}

.button {
    background-color: var(--primaryColor);
    color: var(--dark);
}

/* Desktop and up */
@media (min-width: 1024px) {
    .homeContainer {
        display: grid;
        min-height: 100svh;
        background-image: url('../../assets/img/banner.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .contactContainer {
        min-height: 80svh;
        background-image: url('../../assets/img/contact-banner.png');
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;

        & .contactCaption {
            display: grid;
            place-items: center;
            gap: 2rem;

            & img {
                width: 100px;
            }

            & .contactTitle {
                font-size: 3rem;
                text-align: center;
            }
        }
    }
}