@import "../../index.css";

.homeContainer {
    & .homeContent {
        display: grid;
        place-items: center;

        & .homeCaption {
            & .homeTitle {
                display: flex;
                flex-direction: column;
                font-size: clamp(1rem, 5vw, 3.5vw);
            }
        }
    }
}


.contactContainer {

    min-height: 80svh;
    background-image: url('../../assets/img/contact-banner-mobile.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    & .contactCaption {
        padding: 4rem;
        display: grid;
        place-items: center;
        gap: 2rem;

        & img {
            width: 100px;
        }

        & .contactTitle {
            font-size: 3rem;
            text-align: center;
        }
    }
}

.newsContainer {
    padding: 4rem 0;

    & .newsContent {
        display: flex;
        flex-direction: column;
        grid-auto-rows: unset;
        gap: 1rem;
        padding: 2rem;

        & .newsCard {
            gap: 1rem;
            overflow: hidden;
            border-radius: .4rem;

            & .newsImg {
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;
                aspect-ratio: 1/1;
            }

            & .newsCaption {
                display: grid;
                gap: 1rem;
                padding: 1rem;
                width: 100%;
                bottom: 0;
                z-index: 2;
                color: var(--light);

                & .newsTitle {
                    font-size: 1.1rem;
                }

                & .newsText {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.4;
                    font-size: .9rem;
                }
            }

        }

        & .asideNews {
            display: grid;
            gap: 1rem;

            & .newsImg {
                aspect-ratio: 16/9;
                object-position: center;
                object-fit: cover;
            }
        }
    }
}



.button {
    background-color: var(--primaryColor);
    color: var(--dark);
}

/* Desktop and up */
@media (min-width: 1024px) {
    .homeContainer {
        display: grid;
        min-height: 100svh;
        background-image: url('../../assets/img/banner.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .contactContainer {
        min-height: 80svh;
        background-image: url('../../assets/img/contact-banner.png');
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;

        & .contactCaption {
            display: grid;
            place-items: center;
            gap: 2rem;

            & img {
                width: 100px;
            }

            & .contactTitle {
                font-size: 3rem;
                text-align: center;
            }
        }
    }

    .newsContainer {
        padding: 4rem 0;



        & .newsContent {
            display: grid;
            grid-template-columns: 6fr 12fr;
            grid-auto-rows: 600px;
            gap: 1rem;
            padding: 2rem;
            background-color: #292729;

            & .newsCard {
                display: flex;
                align-items: flex-end;
                position: relative;
                gap: 1rem;
                background-color: rgb(54, 138, 173);
                overflow: hidden;

                & .newsImg {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }

                & .newsCaption {
                    display: grid;
                    gap: 1rem;
                    padding: 1rem;
                    width: 100%;
                    bottom: 0;
                    z-index: 1;
                }

            }
        }
    }
}