@import "../../index.css";

.homeContainer {
    & .homeContent {
        display: grid;
        place-items: center;

        & .homeCaption {
            & .homeTitle {
                font-size: clamp(1rem, 5vw, 3.5vw);
            }
        }
    }
}






/* Desktop and up */
@media (min-width: 1024px) {
    .homeContainer {
        display: grid;
        min-height: 100svh;
        background-image: url('../../assets/img/banner.png');
        background-size: cover;
        background-repeat: no-repeat;

        & .homeCaption {
            & .homeTitle {
                transform: translateY(-100px);
            }
        }
    }
}