@import "../../index.css";

.CarFinder {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .btnSelector {
        width: 100%;
        padding: 1rem;
        font-weight: 500;
        background-color: #fff;
        color: #000;
    }
}