@import "../../index.css";

.CarFinder {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 20px 10px rgba(255, 255, 255, 1);
    position: relative;
    overflow: hidden;
    color: var(--light);
    text-align: center;
    transform: translateY(-400px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .6rem;

    & .CarFinderContent {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & .btnSelector {
            width: 100%;
            padding: 1rem;
            font-weight: 500;
            color: #000;
            box-shadow: rgba(6, 24, 44, 0.1) 0px 0px 0px 1px, rgba(6, 24, 44, 0.2) 0px 4px 6px -1px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset;
            background-color: red;
        }

        & .btnSearch {
            padding: 1rem;
            width: 100%;
            background-color: var(--primaryColor);
            font-weight: bold;
        }
    }
}

.rangeContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.range {
    width: 100%;
}