@import "../../index.css";

.CarFinder {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #FFFFFF;
    color: #000;
    text-align: center;
    transform: translateY(-100px);

    & .CarFinderContent {

        & .btnSelector {
            width: 100%;
            padding: 1rem;
            font-weight: 500;
            background-color: #F0F2F1;
            color: #000;
        }
    }
}