@import "../../index.css";

.CarFinder {
    max-width: 600px;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: red;

    & .btnSelector {
        width: 100%;
        padding: 1rem;
        font-weight: 500;
        background-color: #fff;
        color: #000;
    }
}